@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Julee&display=swap');

:root {
    /*Dola Colour Palette*/
    --blue: #2d70de;
    --green1: #14b8a6;
    --green2: #3be188;
    --green3: #218550;
    --green4: #10ae71;
    --green5: #15e092;
    --red1: #ff5454;
    --red2: #f87171;
    --red3: #a71c1c;
    --red4: #e95a5a;
    --orange1: #ff9a7c;
    --orange2: #ffb099;
    --orange3: #fdba74;
    --orange4: #ff9f87;
    --orange5: #ff8d70;
    --yellow1: #f4e652;
    --purple1: #9482ed;
    --purple2: #755ee8;
    --white1: #eaeaea;
    --white2: #e6e9ec;
    --gray1: #dddfe4;
    --gray2: #c7ccd2;
    --gray3: #d4d6da;
    --gray4: #9fa3a8;
    --dark1: #3d3d3d;
    --dark2: #2a2a2a;
    --dark3: #7c8084;

    --background: var(--gray1);
    --background-header-tile: var(--white2);
    --background-pic: var(--orange1);
    --background-sidebar: var(--blue);

    --txt-light: var(--white1);
    --txt-dark1: var(--dark1);
    --txt-dark2: var(--dark2);
    --txt-secondary: var(--dark3);
    --txt-btn: var(--dark1);
    --txt-game-tile: var(--dark1);
    --txt-error: var(--red1);

    --clr-btn-action: var(--blue);
    --clr-btn-status: var(--green4);
    --clr-btn-diff: var(--purple2);
    --clr-input-label: var(--gray4);
    --clr-modal-sep: var(--gray4);
    --clr-sb-round: var(--green5);
    --clr-sb-one: var(--orange5);
    --clr-sb-two: var(--yellow1);
    --clr-footer: var(--orange2);
    --clr-overlay: rgba(0, 0, 0, 0.4);

    --size-heading: 5rem;
    --size-txt: 1.125rem;
    --size-game-tile: 7.5rem;
    --size-header-name: 1.6rem;
    --size-form-label: 1.25rem;
    --size-form-input: 1.5rem;
    --size-footers: 1rem;
    --size-button: 1.3rem;
    --size-sb-name: 2rem;
    --size-sb-score: 2.6rem;

    --weight-light: 300;
    --weight-normal: 500;
    --weight-bold: 700;
    --weight-heavy: 900;

    --gap-sidebar: 1.2rem;
    --gap-trending: 1rem;

    --pic-default-wh: 4rem;

    --url-logo: url(logo.png);

    --icon-default-wh: 2.4rem;
    --icon-big-wh: 3rem;
    --icon-huge-wh: 5rem;

    --anim-tile: cubic-bezier(1, 0.11, 0.56, 2.05);

    --shadow-header: 0 10px 14px -3px rgba(0, 0, 0, 0.125),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
    --shadow-card: 0 4px 6px 2px rgba(0, 0, 0, 0.125),
    0 4px 4px -2px rgba(0, 0, 0, 0.1);
    --shadow-sidebar: 6px 0 12px -2px rgba(0, 0, 0, 0.15),
    4px 0 6px -2px rgba(0, 0, 0, 0.2);
    --shadow-btn: 0 0 4px 4px rgba(0, 0, 0, 0.1),
    0 4px 4px -2px rgba(0, 0, 0, 0.125);
    --shadow-btn-action: 0 0 4px 2px var(--clr-btn-action),
    0 0 6px -2px rgba(0, 0, 0, 0.25);
    --shadow-btn-diff: 0 0 4px 2px var(--clr-btn-diff),
    0 0 6px -2px rgba(0, 0, 0, 0.25);
    --shadow-sb-round: 0 0 4px 2px var(--clr-sb-round),
    0 0 6px -2px rgba(0, 0, 0, 0.25);
    --shadow-sb-one: 0 0 4px 2px var(--clr-sb-one),
    0 0 6px -2px rgba(0, 0, 0, 0.25);
    --shadow-sb-two: 0 0 4px 2px var(--clr-sb-two),
    0 0 6px -2px rgba(0, 0, 0, 0.25);
    --shadow-deactive: 0 0 4px 2px var(--white2),
    0 0 10px -2px rgba(0, 0, 0, 0.8);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*border: 1px var(--red1) solid;*/
}

/*Elements*/
body {
    min-height: 100vh;
    height: 100vh; /*Forces scrolling on Overflowing Areas*/
    min-width: 100vw;
    width: 100vw; /*Forces scrolling on Overflowing Areas*/
    background: var(--background);
    color: var(--txt-dark2);
    font-family: Lato, sans-serif;
    font-size: var(--size-txt);
    display: grid;
    grid-template: auto 1fr min-content / 1fr;
    grid-template-areas:
            'header'
            'content'
            'footer';
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

button.action, button.diff {
    background-color: var(--clr-btn-action);
    color: var(--txt-light);
    font-size: var(--size-button);
    font-weight: 700;
    padding: 0.75rem 2.2rem;
    border-radius: 99rem;
    box-shadow: var(--shadow-btn-action);
}

button.action:hover {
    transform: translateY(-4%);
}

button.action:active {
    transform: translateY(8%);
}

button.diff {
    width: max(11rem, 80%);
    padding: 0.75rem 1.4rem;
    background-color: var(--clr-btn-diff);
    box-shadow: var(--shadow-btn-diff);
    transition-timing-function: var(--anim-tile);
}

button.diff:hover {
    scale: 1.06;
    filter: brightness(96%);
}

button.diff:active {
    scale: 0.98;
    filter: brightness(84%);
}

/*Classes*/
.header {
    grid-area: header;
    padding: 1.5rem 2rem;
    background-color: var(--background-header-tile);
    box-shadow: var(--shadow-header);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.header .left {
    display: flex;
    flex-flow: row nowrap;
    gap: 1.4rem;
    align-items: center;
}

.header .icon {
    background: var(--url-logo) center center / cover no-repeat;
    height: var(--icon-huge-wh);
    aspect-ratio: 1 / 1;
}

.header .options, .content .scoreboard, .scoreboard .card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.5rem;
}

.options .option {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
}

.input-div {
    position: relative;
    width: max(14vw, 12rem);
    margin-top: 1.4rem;
}

.input-div input {
    width: 100%;
    padding: 0.4rem 0;
    font-size: var(--size-form-input);
    font-family: inherit;
    border: none;
    border-bottom: 1px var(--clr-modal-sep) solid;
    outline: none;
    background: transparent;
}

.input-div label {
    position: absolute;
    top: 0;
    left: 1.75rem;
    padding: 0.25rem 0;
    font-size: var(--size-form-label);
    font-weight: var(--weight-bold);
    color: var(--clr-input-label);
    pointer-events: none;
    transition: all 0.2s ease-in-out;
}

.input-div input:focus ~ label,
.input-div input:valid ~ label {
    top: -1.75rem;
    left: 0;
}

.input-div label.error {
    color: var(--txt-error);
}

.content {
    grid-area: content;
    overflow: auto; /*Forces scrolling on Overflowing Areas*/
    padding: 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4rem;
}

.content .scoreboard .card {
    font-size: var(--size-sb-name);
    font-family: 'Julee', cursive;
    color: var(--txt-dark1);
    padding: 0.5rem 1.4rem;
    border-radius: 99rem;
    transition-property: background-color, box-shadow;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
}

.content .scoreboard .card .name {
    font-size: var(--size-sb-name);
}

.content .scoreboard .card .score {
    font-size: var(--size-sb-score);
}

.content .scoreboard .card.round {
    padding: 0.5rem 2rem;

    background-color: var(--clr-sb-round);
    box-shadow: var(--shadow-sb-round);
}

.content .scoreboard .card.round .title {
    font-size: calc(var(--size-sb-name) * 1.5);
}

.content .scoreboard .card.round .num {
    font-size: calc(var(--size-sb-score) * 1.5);
}

.content .scoreboard .card.one {
    background-color: var(--clr-sb-one);
    box-shadow: var(--shadow-sb-one);
}

.content .scoreboard .card.two {
    background-color: var(--clr-sb-two);
    box-shadow: var(--shadow-sb-two);
}

.content .scoreboard .card.de-active {
    background-color: var(--background-header-tile);
    box-shadow: var(--shadow-deactive);
}

.content .board-game {
    display: grid;
    grid-template: repeat(3, minmax(80px, 140px)) / repeat(3, minmax(80px, 140px));
    gap: 14px;
}

.board-game .tile {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: var(--background-header-tile);
    border-radius: 2rem;
    box-shadow: var(--shadow-card);
    font-family: 'Indie Flower', cursive;
    font-size: var(--size-game-tile);
    font-weight: var(--weight-heavy);
    color: var(--txt-game-tile);
    transition: all 0.1s var(--anim-tile);
}

.board-game .tile:hover {
    scale: 1.1;
    filter: brightness(96%);
}

.board-game .tile:active {
    scale: 0.96;
    filter: brightness(84%);
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: var(--size-footers);
    background-color: var(--clr-footer);
}

.footer a {
    text-decoration: underline;
    color: var(--txt-dark2);
}
